{:paths ["src" "resources"]
 :deps {poly/codex-agent {:local/root "../codex-agent"}
        poly/feishu-openapi-lite {:local/root "../feishu-openapi-lite"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
